In [15]:
import wikipedia
import pandas as pd

In [16]:
#selective wikipedia article topics
articles = ['George_Clooney', 'Shah_Rukh_Khan', 'Leonardo_DiCaprio', 'Will_Smith',
            'Kamal_Haasan', 'Tom_Cruise', 'Dwayne_Johnson', 'Brad_Pitt',
            'Johnny_Depp', 'Morgan_Freeman', 'Ed_Sheeran', 'A._R._Rahman',
            'Bruno_Mars', 'Taylor_Swift', 'Eminem', 'Shakira', 'Ellie_Goulding',
            'Michael_Jackson', 'Selena_Gomez', 'Lionel_Messi',
            'Cristiano_Ronaldo', 'Rafael_Nadal', 'Usain_Bolt',
            'Stephen_Curry', 'Roger_Federer', 'Virat_Kohli', 'Serena_Williams',
            'James_Patterson', 'Stephen_King', 'J._K._Rowling',
            'Dan_Brown', 'Agatha_Christie', 'Ken_Follett', 'Neil_Gaiman', 
            'John_Grisham', 'Nora_Roberts', 'Arundhati_Roy', 'Mark_Zuckerberg',
            'Jeff_Bezos', 'Bill_Gates', 'Larry_Page', 'Tim_Cook', 
            'Elon_Musk', 'Warren_Buffett', 'Xi_Jinping', 'Vladimir_Putin', 
            'Donald_Trump', 'Barack_Obama', 'David_Cameron', 'Hillary_Clinton',
            'Bill_Clinton']

In [18]:
print("Obtaining English data now")
wikipedia.set_lang("en")
content = []
person = []

for i in articles:
#     print("Examining " + str(i))
    person.append(wikipedia.page(i, auto_suggest=False).title)
    content.append(wikipedia.page(i, auto_suggest=False).content)

Obtaining English data now

In [19]:
df_eng = pd.DataFrame(list(zip(person,content)), columns=['person', 'content'])

In [20]:
print("Obtaining Russian data now")
wikipedia.set_lang("ru")
content = []
person = []

for i in articles:
#     print("Examining " + str(i))
    person.append(wikipedia.page(i, auto_suggest=False).title)
    content.append(wikipedia.page(i, auto_suggest=False).content)

Obtaining Russian data now

In [21]:
df_ru = pd.DataFrame(list(zip(person,content)), columns=['person', 'content'])

In [22]:
print("Obtaining Italian data now")
wikipedia.set_lang("it")
content = []
person = []

for i in articles:
#     print("Examining " + str(i))
    person.append(wikipedia.page(i, auto_suggest=False).title)
    content.append(wikipedia.page(i, auto_suggest=False).content)
    
df_it = pd.DataFrame(list(zip(person,content)), columns=['person', 'content'])

Obtaining Italian data now

In [23]:
df_eng.head()

              person                                            content
0     George Clooney  George Timothy Clooney (born May 6, 1961) is a...
1     Shah Rukh Khan  Shah Rukh Khan (pronounced [ˈʃɑːɦɾʊx xɑːn]; bo...
2  Leonardo DiCaprio  Leonardo Wilhelm DiCaprio (; Italian: [diˈkaːp...
3         Will Smith  Willard Carroll  Smith II (born September 25, ...
4       Kamal Haasan  Kamal Haasan (born 7 November 1954) is an Indi...

In [24]:
df_ru.head()

                person                                            content
0        Клуни, Джордж  Джордж Ти́моти Клу́ни (англ. George Timothy Cl...
1          Хан, Шахрух  Ша́хрух Хан (хинди शाहरुख़ ख़ान, урду شاہ رخ خ...
2  Ди Каприо, Леонардо  Леона́рдо Вильге́льм Ди Ка́прио (англ. Leonard...
3           Смит, Уилл  Уи́ллард Кэ́рролл (Уи́лл) Смит Второй (англ. W...
4          Камал Хасан  Камал Хасан (англ. Kamal Haasan, там. கமல்ஹாசன...

In [25]:
df_it.head()

              person                                            content
0     George Clooney  George Timothy Clooney (Lexington, 6 maggio 19...
1     Shah Rukh Khan  Shah Rukh Khan, all'anagrafe Shahrukh Khan, co...
2  Leonardo DiCaprio  Leonardo Wilhelm DiCaprio (Los Angeles, 11 nov...
3         Will Smith  Will Smith, all'anagrafe Willard Carroll Smith...
4       Kamal Haasan  Kamal Haasan (Ramanathapuram, 7 novembre 1954)...

In [26]:
df_comb = pd.concat([df_eng, df_it, df_ru], axis=0).reset_index(drop=True)
df_comb.head()

              person                                            content
0     George Clooney  George Timothy Clooney (born May 6, 1961) is a...
1     Shah Rukh Khan  Shah Rukh Khan (pronounced [ˈʃɑːɦɾʊx xɑːn]; bo...
2  Leonardo DiCaprio  Leonardo Wilhelm DiCaprio (; Italian: [diˈkaːp...
3         Will Smith  Willard Carroll  Smith II (born September 25, ...
4       Kamal Haasan  Kamal Haasan (born 7 November 1954) is an Indi...

In [31]:
df_comb.to_excel("../files/input/combined_data.xlsx",index=False)